.form{
    margin-top: 50px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
}
.title{
    font-size: 23px;
    margin-left: 35%;
}
.inp{
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(203, 197, 197);
    padding-left: 10px;
}
.bnt{
    height: 35px;
    border: none;
    background-color: rgb(62, 84, 226);
    border-radius: 5px;
}